@font-face {
    font-family: "ShlomosemiStam";
    src: url(../assets/fonts/ShlomosemiStam.ttf);
}

body {
    /*dir: rtl;*/
    margin: 0;
    padding: 0;
}

.toolbar {
    align-items: center;
    background-color: hsl(0, 0%, 80%);
    box-shadow: 0px 2px 5px hsla(0, 0%, 0%, 0.5);
    display: flex;
    height: 3rem;
    justify-content: space-between;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

    .toolbar-parsha-selection {
        font-size: 1em;
    }

    .toolbar-annotations-toggle-input {
        display: none;
    }

    .toolbar-annotations-toggle-track {
        background-color: hsla(0, 0%, 0%, 0.25);
        border-radius: 0.75rem;
        box-shadow: 0 0 2px 0;
        display: inline-block;
        height: 1.5rem;
        left: 0;
        position: relative;
        top: 0;
        width: 3rem;
        transition: 0.25s;
    }

    .toolbar-annotations-toggle-track::after {
        background-color: hsla(0, 0%, 100%, 0.75);
        border-radius: 0.75rem;
        box-shadow: 0 0 2px 0;
        content: "א";
        display: block;
        font-family: ShlomosemiStam;
        font-size: 0.75em;
        height: 1.5rem;
        left: 0;
        line-height: 1.5rem;
        position: relative;
        text-align: center;
        top: 0;
        width: 1.5rem;
        transition: 0.25s;
    }

    .toolbar-annotations-toggle-input:checked + .toolbar-annotations-toggle-track {
        background-color: hsla(0, 0%, 0%, 0.75);
    }

    .toolbar-annotations-toggle-input:checked + .toolbar-annotations-toggle-track::after {
        background-color: hsla(0, 0%, 0%, 0.5);
        color: white;
        content: "אֶ֨";
        left: 1.5rem;
    }

.pages {
    direction: rtl;
    background-color: lightblue;
    margin-top: 3rem;
    padding-top: 1rem;
    width: 100%;
}

    .pages-page-text-line {
        font-family: Shlomosemistam;
        text-align: justify;
    }

    .pages-page-text-line::after {
        content: "";
        display: inline-block;
        width: 100%;
    }
