@font-face {
    font-family: "ShlomosemiStam";
    src: url(../assets/fonts/ShlomosemiStam.ttf);
}

.pages {
    font-size: 1.5rem;
    padding-top: 1rem;
    width: 100%;
    height: calc(100vh - 3em);
    overflow: auto;
}

    .pages-page {
        -webkit-justify-content: center;
        direction: rtl;
        display: -webkit-flex;
        display: flex;
        font-family: Helvetica;
        justify-content: center;
        margin-bottom: 8rem;
    }

    .pages-page-verses {
        color: hsla(0, 0%, 0%, 0.35);
        padding: 0 2rem;
        text-align: end;
    }

    .pages-page-aliyot {
        color: hsla(203, 100%, 50%, 0.75);
    }

    .pages-page-line {
        font-family: Shlomosemistam;
        text-align: justify;
        position: relative;
        display: block;
        line-height: 100%;
    }

        .pages-page-line.mod-petucha {
            text-align: start;
        }

    .pages-page-line::before {
        content: attr(data-verses);
        color: hsla(203, 100%, 50%, 0.75);
        position: absolute;
        right: -6ch;
        font-family: sans-serif;
    }

    .pages-page-line::after {
        content: "";
        display: inline-block;
        width: 100%;
    }

    .pages-page-line-column.mod-setuma {
        display: flex;
        justify-content: space-between;
    }
