.tikkun-page {
  display: flex;
  justify-content: center;
  font-family: Shlomosemistam;
}

.tikkun-page:not(:first-child) {
  padding-top: 5em;
}

.tikkun-page:not(:last-child) {
  padding-bottom: 5em;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
}

.line {
  position: relative;
  text-align: justify;
  line-height: 100%;
  display: flex;
  justify-content: space-between;
}

.line.mod-petucha {
  text-align: start;
}

.column {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.column:nth-child(2) {
  /*HACK: this rule is a special hack for פרשת האזינו
    to properly display the columns:
        a) with space between the columns
        b) without the column line breaking into two
  */
  margin-right: 5em;
  width: 12em;
}

.fragment {
  width: 100%;
}

.fragment.mod-setuma {
  width: auto;
}

.fragment:after {
  content: '';
  width: 100%;
  display: inline-block;
}

.location-indicator {
  position: absolute;
  font-family: sans-serif;
  font-size: 0.8em;
}

.location-indicator.mod-verses {
  right: -6ch;
  color: hsla(0, 0%, 0%, 0.35);
}

.location-indicator.mod-aliyot {
  right: -13ch;
  color: hsla(203, 100%, 50%, 0.75);
  max-width: 8ch;
}
