.tikkun-page {
  display: flex;
  justify-content: center;
  font-family: Shlomosemistam;
  color: var(--page-ink-color);
}

.tikkun-page table {
  transform: translateX(var(--pull-translation));
  transition: transform var(--pull-transform);
}

@media screen and (max-width: 900px) {
  .tikkun-page {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 800px) {
  .tikkun-page {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 700px) {
  .tikkun-page {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 600px) {
  .tikkun-page {
    font-size: 0.6em;
  }
}

.tikkun-page:not(:first-child) {
  padding-top: 5em;
}

.tikkun-page:not(:last-child) {
  padding-bottom: 5em;
  border-bottom: 1px solid var(--heavy-accent-color);
}

.line {
  position: relative;
  text-align: justify;
  line-height: 100%;
  display: flex;
  justify-content: space-between;
}

.line.mod-petucha {
  text-align: start;
}

.column {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.column:nth-child(2) {
  /*HACK: this rule is a special hack for פרשת האזינו
    to properly display the columns:
        a) with space between the columns
        b) without the column line breaking into two
  */
  margin-right: 5em;
  width: 12em;
}

.fragment {
  width: 100%;
}

.tikkun-book.mod-annotations-off .fragment.mod-annotations-on,
.tikkun-book.mod-annotations-on .fragment.mod-annotations-off {
  display: none;
}

.fragment.mod-setuma {
  width: auto;
}

.fragment:after {
  content: '';
  width: 100%;
  display: inline-block;
}

.location-indicator {
  position: absolute;
  font-family: sans-serif;
  font-size: 0.8em;

  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

.tikkun-book.mod-annotations-off .location-indicator {
  display: none;
}

.location-indicator.mod-verses {
  right: -6ch;
  color: var(--verses-color);
}

.location-indicator.mod-aliyot {
  right: 0;
  color: hsla(203, 100%, 50%, 0.75);
  max-width: 8ch;
  transform: translateX(calc(9ch + 100%));
  text-align: right;
}

.ktiv-kri {
  background-color: var(--medium-accent-color);
  padding: 0.1rem 0.1rem;
  border: 1px solid var(--medium-accent-color);
  border-radius: 4px;
  position: relative;
}
