@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(1.05);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.parsha-picker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  -webkit-overflow-scrolling: touch; /*https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/*/
  height: 100%;
  animation: fade-in 0.2s forwards;
  padding: 2em 1em;
}

.parsha-search {
  position: relative;
  font-family: sans-serif;
  border-bottom: 2px solid hsla(0, 0%, 0%, 0.25);
}

.parsha-search-input {
  border: none;
  direction: ltr;
  padding: 0.1em 2em 0.1em 0.5em;
  width: 30ch;
  color: hsla(0, 0%, 0%, 0.7);
}

.parsha-search-input:focus {
  outline: none;
  border-color: hsla(0, 0%, 0%, 0.5);
}

.parsha-search-icon {
  position: absolute;
  right: 10px;
  transform: rotate(-45deg);
  font-size: 1.25em;
  color: hsla(0, 0%, 0%, 0.7);
}

.parsha-books {
  display: flex;
  list-style: none;
  margin: 2em;
  width: 100%;
  max-width: 960px;
}

@media screen and (max-width: 700px) {
  .parsha-books {
    display: block;
  }
}

.parsha-book {
  flex: 1 0;
  text-align: center;
}

.parsha-list {
  list-style: none;
  margin: 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.parsha {
  padding: 1em;
  color: hsla(0, 0%, 0%, 0.7);
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
}

.parsha:first-child {
  font-weight: bolder;
}

.parsha:hover {
  background-color: hsla(0, 0%, 0%, 0.1);
  color: black;
}

.parsha:active {
  background-color: hsla(0, 0%, 0%, 0.2);
}
