@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(1.05);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.parsha-picker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--paper-color);
  overflow: auto;
  -webkit-overflow-scrolling: touch; /*https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/*/
  height: 100%;
  animation: fade-in 0.2s forwards;
  padding: 2em 0;
}

.search {
  direction: ltr;
}

.search {
  background-color: var(--light-accent-color);
  display: inline-block;
  border-radius: 4px;
  color: var(--text-color);
  border: 1px solid hsla(0, 0%, 0%, 0);
  width: 30ch;
}

.search:focus-within {
  border: 1px solid var(--medium-accent-color);
}

.search-bar {
  display: flex;
  padding: 0.5em 1em;
}

.search-bar > *:not(:first-child) {
  margin-left: 1em;
}

.search-icon {
  transform: rotate(-45deg);
  display: block;
  font-size: 1.5em;
}

.search-input {
  border: none;
  background-color: transparent;
  outline: none;
  color: inherit;
}

.search-results {
  border-top: 1px solid var(--heavy-accent-color);
}

.list-item {
  list-style: none;
  padding: 1em 1em;
  cursor: pointer;
}

.list-item[data-selected="true"],
.list-item:hover {
  background-color: var(--light-accent-color);
}

.list-item:not(:last-child) {
  border-bottom: 1px solid var(--medium-accent-color);
}

.search-result-tag:not(:last-child) {
  margin-bottom: 0.5em;
}

.browse {
  width: 100%;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.section-heading {
  color: var(--text-color);
  border-bottom: 1px solid var(--medium-accent-color);
  padding-right: 16px;
  padding-bottom: 1em;
  font-size: 3em;
  padding-bottom: 0.2em;
  margin-bottom: 1em;
}

.parsha-books {
  display: flex;
  list-style: none;
  margin-bottom: 3em;
}

@media screen and (max-width: 700px) {
  .parsha-books {
    display: block;
  }
}

.parsha-book {
  flex: 1 0;
  text-align: center;
}

.parsha-list {
  list-style: none;
  margin: 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.parsha {
  padding: 1em;
  color: var(--text-color);
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
}

.parsha:first-child {
  font-weight: bolder;
}

.parsha:hover {
  background-color: var(--medium-accent-color);
}

.parsha:active {
  background-color: var(--heavy-accent-color);
}

.section.mod-alternate {
  background-color: var(--light-accent-color);
}

.section.mod-padding {
  padding: 2em 0;
}

.section-label {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
  color: var(--light-text-color);
}

.coming-up-button {
  background-color: var(--light-accent-color);
  padding: 0.5em 1em;
  width: 100%;
  border-radius: 4px;
  color: var(--text-color);
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.coming-up-button:hover {
  background-color: var(--medium-accent-color);
}

.coming-up-button:active {
  background-color: var(--heavy-accent-color);
}

.coming-up-date {
  color: var(--text-color);
}
