.toolbar-item {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.toolbar-content {
  display: flex;
  padding: 0 10px;
}

.toolbar-wrapper {
  align-items: center;
  display: flex;
}

.toolbar-wrapper.mod-left, .toolbar-wrapper.mod-right {
  flex: 1;
}

.toolbar-wrapper.mod-right {
  justify-content: flex-end;
}

.annotations-toggle {
  font-family: ShlomosemiStam;
}

.parsha-title {
  background-color: var(--light-accent-color);
  padding: 0.5em 3em;
  border-radius: 4px;
  color: var(--text-color);
  cursor: pointer;
  direction: rtl;
}

.parsha-title:hover {
  background-color: var(--medium-accent-color);
}

.parsha-title:active {
  background-color: var(--heavy-accent-color);
}

.toolbar-github {
  vertical-align: middle; /* HACK: https://stackoverflow.com/a/27999850/2374361 */
}

@media (prefers-color-scheme: dark) {
  .toolbar-github {
    filter: invert();
  }
}
