.toolbar {
    background-color: hsl(0, 0%, 90%);
    box-shadow: 0px 2px 10px hsla(0, 0%, 0%, 0.5);
    height: 3rem;
    width: 100%;
    z-index: 10;
}

    .toolbar-items {
        -webkit-align-items: center;
        -webkit-justify-content: space-between;
        align-items: center;
        justify-content: space-between;
        display: -webkit-flex;
        display: flex;
        height: 100%;
        margin: 0 auto;
        max-width: 960px;
        padding: 0 1rem;
    }

        .toolbar-github {
            vertical-align: middle;
        }

        .select {
            background-color: hsla(0, 0%, 0%, 0.1);
            border-radius: 4px;
            border: none;
            cursor: pointer;
            direction: rtl;
            font-family: Helvetica;
            font-size: 1rem;
            outline: none;
            padding: 8px 24px;
            position: relative;
        }

        .select:hover {
            background-color: hsla(0, 0%, 0%, 0.15);
        }

            .select-selection::after {
                content: " ▾ ";
            }

            .select-options {
                background-color: white;
                border-radius: inherit;
                border: 1px solid darkgray;
                box-shadow: 0px 0 10px 0px gray;
                height: 10rem;
                list-style-type: none;
                margin: 0;
                min-width: 100%;
                overflow-y: auto;
                padding: 0;
                position: absolute;
                right: 0;
                text-align: start;
                top: calc(100% + 4px);
            }

                .select-options-option {
                    color: hsla(0, 0%, 0%, 0.75);
                    padding: 0.5rem;
                }

                .select-options-option:hover {
                    background-color: hsla(0, 0%, 0%, 0.075);
                }
